* text=auto !eol
button-controller/Makefile -text
button-controller/main.c -text
include/dc_commands.h -text
lcd-controller/Makefile -text
lcd-controller/bmp/hypnotoad1.bmp -text
lcd-controller/com.c -text
lcd-controller/com.h -text
lcd-controller/config.h -text
lcd-controller/draw_pixmap.c -text
lcd-controller/draw_pixmap.h -text
lcd-controller/fonts/font.h -text
lcd-controller/fonts/font5x7.h -text
lcd-controller/fonts/font_arial8.c -text
lcd-controller/fonts/font_arial8.h -text
lcd-controller/fonts/font_f04b03.c -text
lcd-controller/fonts/font_f04b03.h -text
lcd-controller/fonts/font_f04b03b.c -text
lcd-controller/fonts/font_f04b03b.h -text
lcd-controller/fonts/font_f04b24.c -text
lcd-controller/fonts/font_f04b24.h -text
lcd-controller/fonts/font_small6.c -text
lcd-controller/fonts/font_small6.h -text
lcd-controller/fonts/font_uni53.c -text
lcd-controller/fonts/font_uni53.h -text
lcd-controller/fuses.txt -text
lcd-controller/hypnotoad.c -text
lcd-controller/hypnotoad.h -text
lcd-controller/hypnotoad_data.c -text
lcd-controller/laborlogo.c -text
lcd-controller/lcd_hardware.c -text
lcd-controller/lcd_hardware.h -text
lcd-controller/main.c -text
main-controller/Makefile -text
main-controller/adc.c -text
main-controller/adc.h -text
main-controller/backlight.c -text
main-controller/backlight.h -text
main-controller/calibrate_touch.c -text
main-controller/calibrate_touch.h -text
main-controller/config.h -text
main-controller/dc_com.c -text
main-controller/dc_com.h -text
main-controller/hardware.c -text
main-controller/hardware.h -text
main-controller/lap_button.c -text
main-controller/lap_button.h -text
main-controller/lap_slider.c -text
main-controller/lap_slider.h -text
main-controller/main.c -text
main-controller/main_window.c -text
main-controller/main_window.h -text
main-controller/menu_browser.c -text
main-controller/menu_browser.h -text
main-controller/touchscreen.c -text
main-controller/touchscreen.h -text
